@font-face {
  font-family: "iconfont"; /* Project id 3301519 */
  src: url('iconfont.woff2?t=1654410597697') format('woff2'),
       url('iconfont.woff?t=1654410597697') format('woff'),
       url('iconfont.ttf?t=1654410597697') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-15tianwuliyoutuihuo:before {
  content: "\e606";
}

.icon-location:before {
  content: "\e623";
}

.icon-editor2:before {
  content: "\e62e";
}

.icon-7tiantuihuan:before {
  content: "\e691";
}

.icon-gift:before {
  content: "\e683";
}

.icon-wechat:before {
  content: "\e640";
}

.icon-weiboweibo:before {
  content: "\e7cf";
}

.icon-chat:before {
  content: "\e69a";
}

.icon-arrow-right2:before {
  content: "\e60a";
}

.icon-arrow-right1:before {
  content: "\e614";
}

.icon-cross:before {
  content: "\e602";
}

.icon-arrow-down:before {
  content: "\e629";
}

.icon-cart-full:before {
  content: "\e601";
}

.icon-arrow-right:before {
  content: "\e63f";
}

.icon-F:before {
  content: "\e67a";
}

.icon-huafeichongzhi:before {
  content: "\e666";
}

.icon-cart-empty:before {
  content: "\e607";
}

.icon-sousuo:before {
  content: "\e61a";
}

.icon-clockCircle:before {
  content: "\eb3f";
}

.icon-building:before {
  content: "\e610";
}

.icon-exchangecny:before {
  content: "\e749";
}

.icon-simCard:before {
  content: "\e600";
}

